html {
  scroll-behavior: smooth;
}
title {
  font-size: xx-large;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;

  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
/* Video Container */
.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}
.video-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}
/* Overlay Layer */
.video-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(163, 209, 243, 0.8);

  z-index: 2;
}
button {
  cursor: pointer;
}
/* Wrap for Fixed Elements and Parallax Sections */
.wrap {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
/* Header and Aside Container Styles */
.header-aside {
  display: flex;
  z-index: 3;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(245, 237, 238, 0.6);
  border-bottom: 1px solid #37484b7a;
  height: 100px;
}
/* Aside Styles */
aside {
  display: flex;
  align-items: center;
  padding-left: 4rem;
}
aside img {
  height: 80%;
  max-height: 80px;
  width: auto;
  object-fit: contain;
}
/* Header Styles */
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5rem;
  font-size: 30px;
  color: #f1d415;
  flex-direction: column;
}
header p {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  letter-spacing: 0.5px;
}
header button {
  font-size: 30px;
  color: #1c3040;
  background: none;
  border: none;
  font-weight: 500;
  letter-spacing: 0.5px;
  z-index: 4;
}
header button .active {
  color: #984447;
  font-size: 30px;
}
header button:hover {
  color: #984447;
}

a img,
iframe {
  border: none;
  transform: scale(1);
  box-shadow: 19px 20px 20px 0px hsl(0deg 0% 0% / 0%);
  transition: all 0.3s ease;
}

a:hover img,
iframe:hover {
  transform: scale(1.1) perspective(1500px);
  box-shadow: 19px 20px 20px 0px hsl(0deg 0% 0% / 10%);
}
/* Parallax Wrapper */
.parallax-wrapper {
  height: calc(100vh - 60px);
  overflow-y: scroll;
  scroll-behavior: smooth;
  flex: 1;
}
/* Content Section Styles */
.content-section {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
  padding: 20px;
  padding-top: 0;
  color: white;
  transform: translateX(0%);
  flex-wrap: nowrap;
  flex-direction: column;
}
.content-section .content {
  text-align: center;
}
/* Text Styling */
h1 {
  font-size: 15vh;
  color: #f1d415;
  margin: 0;
  font-weight: 800;
  text-shadow: 3px 3px 30px rgba(0, 0, 0, 0.8);
}
.content-section h5 {
  font-size: 9vh;
  letter-spacing: 1px;
  color: #f1d415;
  font-weight: 600;
  margin-top: -38px;
  text-shadow: 3px 3px 30px rgba(0, 0, 0, 0.9);
  transform: translateX(31.5%);
  position: relative;
}
.content-section p {
  font-size: 20px;
  font-weight: 300;
  margin: 0;
}
#page2,
#page3,
#page4 {
  margin-bottom: 100px;
}

#page2 button {
  display: inline-block;
  padding: 10px 50px;
  background-color: #f1d415;
  color: #1c3040;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
  width: 100%;
  border: none;
  font-size: 24px;
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
#page2 button .active {
  color: #f1d415;
  background-color: #1c3040;
  font-size: 30px;
}
#page2 button:hover {
  color: #f1d415;
  background-color: #1c3040;
  transition: background-color 0.3s, color 0.3s;
}
/* Grid Container for Page 2 */
#page2 .grid-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr; /* Large intro column and two smaller columns */
  grid-template-areas: "intro design design" "intro design design" "intro localization localization" "intro localization localization" "intro wordpress wordpress" "intro wordpress wordpress" "intro2 CV contact";
  gap: 20px;
  padding: 40px;

  background-color: rgba(
    28,
    48,
    64,
    0.7
  ); /* Dark semi-transparent background */
  border-radius: 10px;
  color: #f5f5f5;
  width: 1400px;
  max-width: 80%;
  margin: 0 auto;
  align-items: stretch;
}
#page2 .grid-item {
  padding: 20px;
  background-color: rgba(
    28,
    48,
    64,
    0.7
  ); /* Slightly darker background for contrast */
  border-radius: 10px;
  align-content: center;
}
/* Intro Section Styling */
#page2 .intro {
  grid-column: 1 / span 1;
  grid-area: intro;
  font-size: 24px;
}
#page2 .intro2 {
  grid-column: 1 / span 1;
  grid-area: intro2;
  padding: 0;
}
#page2 .design {
  grid-area: design;
}
#page2 .localization {
  grid-area: localization;
}
#page2 .wordpress {
  grid-area: wordpress;
}
#page2 .CV {
  grid-area: CV;
  padding: 0;
}
#page2 .contact {
  grid-area: contact;
  padding: 0;
}
#page2 .design,
#page2 .localization,
#page2 .wordpress {
  grid-column: 2 / span 2;
}
#page2 .intro h2,
#page2 .design h3,
#page2 .localization h3,
#page2 .wordpress h3 {
  color: #f1d415;
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 500;
}
#page2 .CV,
#page2 .contact {
  background-color: unset;
}
#page2 .CV button,
#page2 .contact button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1c3040;
  color: #f1d415;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  width: 100%;
  border: none;
  font-size: 20px;
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
#page2 .CV button .active {
  color: #1c3040;
  background-color: #f1d415;
  font-size: 30px;
}
#page2 .CV button:hover {
  color: #1c3040;
  background-color: #f1d415;
  transition: background-color 0.3s, color 0.3s;
}
#page3 .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 30%;
  grid-template-areas:
    "info info obrazky"
    "video video obrazky";
  gap: 20px;
  padding: 40px;

  background-color: rgba(
    245,
    237,
    238,
    0.7
  ); /* Dark semi-transparent background */
  border-radius: 10px;
  color: #1c3040;
  width: 1400px;
  max-width: 80%;
  margin: 0 auto;
  align-items: stretch;
}
#page3 {
  padding-bottom: 500px;
}
#page4 {
  padding-bottom: 500px;
}
#page3 .grid-item {
  padding: 20px;
  background-color: rgba(245, 237, 238, 0.7);
  border-radius: 10px;
  justify-content: center;
  align-content: center;
}
#page3 .nadpisRed {
  grid-area: nadpisRed;
  background-color: unset;
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 0;
  margin-top: 0;
}
#page3 .info {
  grid-area: info;
  margin-top: 0;
}
#page3 .video {
  grid-area: video;
  display: grid;
}

#page3 .obrazky {
  grid-area: obrazky;
}
#ukazkypage h2,
#page3 h3,
#page3 h4 {
  color: #984447;
  margin-top: 0;
}
#ukazkypage h2 {
  font-size: 10vh;
  letter-spacing: 1px;
  font-weight: 600;
  text-shadow: 3px 3px 20px rgba(255, 255, 255, 0.3);
  margin-bottom: 300px;
}
#page3 h3 {
  font-size: 36px;
  font-weight: 600;
  padding-bottom: 0;
  margin-bottom: 10px;
}
#page3 h4 {
  font-size: 30px;
  font-weight: 500;
}
p {
  padding-bottom: 7px;
}
a {
  color: #984447;
  font-size: 18px;
}
img {
  width: 100%;
  border-radius: 5px;
}

iframe {
  border-radius: 5px;
  max-width: 100%;
}
#page4 .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "info info obrazek1"
    "obrazek2 video video" "obrazek3 video video";
  gap: 20px;
  padding: 40px;

  background-color: rgba(
    28,
    48,
    64,
    0.7
  ); /* Dark semi-transparent background */
  border-radius: 10px;
  color: #f5f5f5;
  width: 1400px;
  max-width: 80%;
  margin: 0 auto;
  align-items: stretch;
}
#page4 .grid-item {
  padding: 20px;
  background-color: rgba(28, 48, 64, 0.7);
  border-radius: 10px;
  justify-content: center;
  align-content: center;
}
#page4 .nadpisYellow {
  grid-area: nadpisYellow;
  background-color: unset;
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 0;
  margin-top: 0;
}
#page4 .info {
  grid-area: info;
  margin-top: 0;
}
#page4 .video {
  grid-area: video;
  display: grid;
}

#page4 .obrazek1 {
  grid-area: obrazek1;
}
#page4 .obrazek2 {
  grid-area: obrazek2;
}
#page4 .obrazek3 {
  grid-area: obrazek3;
}
#page4 h3,
#page4 h4 {
  color: #f1d415;
  margin-top: 0;
  margin-bottom: 10px;
}
#page4 h3 {
  font-size: 36px;
  font-weight: 600;
  padding-bottom: 0;
}
#page4 h4 {
  font-size: 20px;
  font-weight: 300;
}

#page4 a {
  color: #f1d415;
  font-size: 18px;
}
#page4 img {
  display: flex;
}
#page5 .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1.5fr;
  grid-template-areas:
    "info info info obrazek1"
    "video obrazek2 obrazek3 obrazek1";
  gap: 20px;
  padding: 40px;

  background-color: rgba(
    245,
    237,
    238,
    0.7
  ); /* Dark semi-transparent background */
  border-radius: 10px;
  color: #1c3040;
  width: 1400px;
  max-width: 80%;
  margin: 0 auto;
  align-items: stretch;
}
#page5 {
  padding-bottom: 340px;
}
#page5 .grid-item {
  padding: 20px;
  background-color: rgba(245, 237, 238, 0.7);
  border-radius: 10px;
  justify-content: center;
  align-content: center;
}
#page5 .nadpisRed {
  grid-area: nadpisRed;
  background-color: unset;
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 0;
  margin-top: 0;
}
#page5 .info {
  grid-area: info;
  margin-top: 0;
}
#page5 .video {
  grid-area: video;
  display: grid;
}

#page5 .obrazek1 {
  grid-area: obrazek1;
}
#page5 .obrazek2 {
  grid-area: obrazek2;
}
#page5 .obrazek3 {
  grid-area: obrazek3;
}

#page5 h3,
#page5 h4 {
  color: #984447;
  margin-top: 0;
}

#page5 h3 {
  font-size: 36px;
  font-weight: 600;
  padding-bottom: 0;
  margin-bottom: 10px;
}
#page5 h4 {
  font-size: 30px;
  font-weight: 500;
}
#page5 button {
  display: inline-block;
  padding: 10px 50px;
  margin-top: 150px;
  background-color: #f1d415;
  color: #1c3040;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
  width: 100%;
  border: none;
  font-size: 30px;
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
#page5 button .active {
  color: #f1d415;
  background-color: #1c3040;
  font-size: 30px;
}
#page5 button:hover {
  color: #f1d415;
  background-color: #1c3040;
  transition: background-color 0.3s, color 0.3s;
}
.pswp__container,
.pswp__img,
.pswp__button,
.pswp__counter {
  padding: 30px;
  transition: transform 0.4s ease-in-out !important;
  border-radius: 10px;
}
iframe {
  padding: 0;
}
